{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
	"jsxBracketSameLine": true
}
