.pagination__container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	margin: 24px auto 0;

	.pagination__page__text {
		width: $space900;
		height: $space900;

		line-height: $space900;
		text-align: center;

		cursor: pointer;

		&.on {
			border: 1px solid $borderFocus;
		}
	}

	> svg {
		cursor: pointer;
	}
}
