main.page__template {
	position: relative;
	padding: $navHeight 0px 24px $sidebarWidth;
	width: 100%;
	height: 100%;

	> .page__template__content {
		padding: 24px;
		width: 100%;
		height: 100%;
		overflow-x: scroll;
	}
}
